tls:
  certificates:
    - certFile: "/etc/traefik/certs/local-cert.pem"
      keyFile: "/etc/traefik/certs/local-key.pem"

http:
  routers:
    frontend:
      rule: "Host(`app.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: frontend
      tls: {}

    iam:
      rule: "Host(`iam-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: iam
      tls: {}

    api-gateway:
      rule: "Host(`api-gateway.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: api-gateway
      tls: {}

    project:
      rule: "Host(`project-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: project
      tls: {}

    task:
      rule: "Host(`task-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: task
      tls: {}

    notification:
      rule: "Host(`notification-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: notification
      tls: {}

    file:
      rule: "Host(`file-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: file
      tls: {}

    analytics:
      rule: "Host(`analytics-service.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: analytics
      tls: {}

    minio:
      rule: "Host(`minio.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: minio
      tls: {}

    rabbitmq:
      rule: "Host(`rabbitmq.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: rabbitmq
      tls: {}

    grafana:
      rule: "Host(`grafana.afeez-dev.local`)"
      entryPoints: ["websecure"]
      service: grafana
      tls: {}

  services:
    frontend:
      loadBalancer:
        servers:
          - url: "http://frontend:5173"

    iam:
      loadBalancer:
        servers:
          - url: "http://iam-nginx:80"

    api-gateway:
      loadBalancer:
        servers:
          - url: "http://api-gateway:3000"

    project:
      loadBalancer:
        servers:
          - url: "http://project-service:3001"

    task:
      loadBalancer:
        servers:
          - url: "http://task-service:3002"

    notification:
      loadBalancer:
        servers:
          - url: "http://notification-service:3003"

    file:
      loadBalancer:
        servers:
          - url: "http://file-service:3004"

    analytics:
      loadBalancer:
        servers:
          - url: "http://analytics-service:3005"

    minio:
      loadBalancer:
        servers:
          - url: "http://minio:9001"

    rabbitmq:
      loadBalancer:
        servers:
          - url: "http://rabbitmq:15672"

    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
