entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    filename: "/etc/traefik/dynamic/dynamic.yml"
    watch: true

log:
  level: "INFO"

api:
  dashboard: false

